@model IEnumerable<Business.Model.Order_warehouse>

@{
    ViewBag.Title = "OrderReport";
}

<h2>OrderReport</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urgency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spacing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofSources)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dictionary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urgency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spacing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofPages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofSources)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dictionary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
